@import "./containers.scss";

@font-face {
  font-family: "AppliMincho";
  src: local("AppliMincho"), url("/fonts/AppliMincho.otf");
}

body {
  font-family: "AppliMincho";
}

* {
  box-sizing: border-box;
}